//  This file is part of ComposerButtonBonanza.
//
//  Copyright 2025 Matt Marjanovic
//
//  ComposerButtonBonanza is free software; you can redistribute it and/or
//  modify it under the terms of the GNU General Public License as published
//  by the Free Software Foundation; either version 3 of the License, or any
//  later version.
//
//  ComposerButtonBonanza is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
//  Public License for more details.
//
//  You should have received a copy of the GNU General Public License along
//  with ComposerButtonBonanza.  If not, see <https://www.gnu.org/licenses/>.

@use "_selectors.scss";

.d-editor-button-bar {
    #{selectors.toolbar-button-selector(deleted)} {
        background-color: var(--danger-low) !important;
        &::after {
            content: "|";
            display: block;
            position: absolute;
            transform: rotate(90deg);
        }
    }
    #{selectors.popup-button-selector(deleted)} {
        background-color: var(--danger-low) !important;
        .icons {
            position: relative;
            &::after {
                content: "|";
                transform: rotate(90deg);
                display: block;
                position: absolute;
                top: 50%;
                bottom: 50%;
                left: 100%;
                color: var(--primary-medium);
            }
        }
    }
}
